/* Matching local Fontsource fonts, added by Plotform for offline use. */
/* open-sans-latin-400-normal */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/open-sans-latin-400-normal.woff2) format('woff2'), url(../fonts/open-sans-latin-400-normal.woff) format('woff');
}
/* open-sans-latin-600-normal */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(../fonts/open-sans-latin-600-normal.woff2) format('woff2'), url(../fonts/open-sans-latin-600-normal.woff) format('woff');
}
/* open-sans-latin-400-italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/open-sans-latin-400-italic.woff2) format('woff2'), url(../fonts/open-sans-latin-400-italic.woff) format('woff');
}
/* open-sans-latin-600-italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(../fonts/open-sans-latin-600-italic.woff2) format('woff2'), url(../fonts/open-sans-latin-600-italic.woff) format('woff');
}
/* roboto-slab-latin-400-normal */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/roboto-slab-latin-400-normal.woff2) format('woff2'), url(../fonts/roboto-slab-latin-400-normal.woff) format('woff');
}
/* roboto-slab-latin-700-normal */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/roboto-slab-latin-700-normal.woff2) format('woff2'), url(../fonts/roboto-slab-latin-700-normal.woff) format('woff');
}